body{
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: Arial;
  background: black;
  color: white;
}

.buttons{
  margin-top: 50px;
  margin-right: 10vw;
}

button{
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

#noBtn{
  position: absolute;
}